#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 0.25vh;
}
#search-results {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 0.25vh;
}
.search-result {
    white-space: pre-wrap;
    padding: 0%;
    border-radius: 0.5vh;
    border-color: black;
    background-color: gray;
    border-width: 0.1vh;
    border-style: solid;
}